<%= simple_form_for_quote, html: { class: "quote form" } do |form| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= form.input :name, input_html: { autofocus:true } %>
  <%= form.submit class: "btn btn-secondary" %>
<% end %>